doctype html
head

  // Basics
  title Random AI Prompt
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  link(rel='stylesheet' href='lib/normalize.css')

  include ../fragments/favicon.pug
  include ../fragments/google-font.pug

  // Stylesheet
  link(rel='stylesheet' href='main.css')
  block styles

block content

// Scripts
script(type='text/javascript' src='lib/jquery-3.6.3.min.js')
script(type='text/javascript' src='lib/lodash-4.17.15.min.js')
script(type='text/javascript' src='main.js')
block scripts