// Google Fonts and reset stylesheet
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Maven+Pro&family=Nunito:wght@500&family=Rokkitt&display=swap' rel='stylesheet')