#navbar
	a(href="/") Home
	a(href="/single") Random Image
	a(href="/results") Latest
	a#reindex-button(href="#") Re-index
	a#reindex-button(href="https://github.com/junebug12851/random-ai-prompt", target="_blank", rel="noopener noreferrer") Github
