extends layouts/modal.pug

block styles
    link(rel='stylesheet' href='re-index.css')

block content
    #container
        p Re-indexing
        .progress-bar
            #progress-percent.progress(style="width: 100%;")

block scripts
    script(type='text/javascript' src='re-index.js')
