#container {
  display: flex;
  flex-direction: column;
  align-items: center; /* align vertically */
  justify-content: center; /* align horizontally */
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

#prompts {
  max-width: 512px;
}

img {
  display: inline-block;
  width: 256px;
  border-radius: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

button {
  margin-top: 15px;
}
